body {
  background-color: pink;
}

h1 {
  color: blue;
  font-size: 3em;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {

}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
  font-family: 12px;
}
